table{
  border-collapse: collapse;

}
td {
  border: 2px solid #a9b2ba;
}
.column-resize-handle {
  bottom: 1px;
  position: absolute;
  right: -3px;
  top: 0;
  width: 1px;
}

.resize-cursor {
  cursor: ew-resize;
  cursor: col-resize;
}

.react-component-with-content .dropdown-container {
  position: absolute;
  background-color: #282E33;
  border-radius: 0.5rem;
  padding: 0.1rem 0.5rem;
  right: -148px;
  z-index: 1;
}

.dropdown-colors-container {
  position: absolute;
  background-color: #282E33;
  border-radius: 0.5rem;
  right: -100.6px;
  top: 0px;
  padding: 0.1rem 0.5rem;
  z-index: 1;
}

.react-component-with-content .popover-list, .popover-colors {
  list-style: none;
  padding: 0;
  margin: 0; 
}

.react-component-with-content .popover-list li {
  border-bottom: 1px solid grey;
  text-align: center;
}

.react-component-with-content .popover-list li button {
  width: fit-content;
  background: transparent;
  border: none;
  color: #B7C3CF;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 0.875rem;
  padding: 0.5rem 0;
}

.react-component-with-content .popover-list li button:hover {
  color: #ffffff;
}

.react-component-with-content .popover-list li:last-child {
  border-bottom: none;
}