/* styles.css */
.column-resize-handle {
  background-color: #adf;
  bottom: 1px;
  position: absolute;
  right: -3px;
  pointer-events: none;
  top: 0;
  width: 2px;
}

.resize-cursor {
  cursor: ew-resize;
  cursor: col-resize;
}

.table-cell.focused{
  background-color: aquamarine;
}