table{
  border-collapse: collapse;
}

.column-resize-handle {
  background-color: #adf;
  bottom: 1px;
  position: absolute;
  right: -1px;
  pointer-events: none;
  top: 0;
  width: 2px;
}

.resize-cursor {
  cursor: ew-resize;
  cursor: col-resize;
}

.node-tableCell {
  border: 0px;
  margin: 0px;
  padding: 1px;
}

.dropdown-button {
  background: aqua;
  border: none;
  cursor: pointer;
  color: #05111d;
  width: fit-content;
  padding: 2px 5px; /* Decrease the size of the button */
  font-size: 12px; /* Adjust the font size as needed */
  position: relative; /* Make the button appear at the top right */
  top: 1px; /* Adjust the top position */
  right: px; /* Adjust the right position */
  z-index: 1;
}


.dropdown-container {
  position: relative;
  background-color: #282E33;
  border-radius: 0.5rem;
  right: 0;
  padding: 0.1rem 0.5rem;
  right: -145px;
  white-space: nowrap;
  z-index: 1;
}
